In [4]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [5]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

1. Write a query that returns each genre, with the number of tracks sold in the USA: 
* in absolute numbers
* in percentages.

In [76]:
%%sql 
WITH tbl1 AS
(
SELECT NAME,SALES
FROM
(
SELECT t6.name as name,CAST(sum(quantity) AS FLOAT) as Sales FROM
(SELECT genre_id,quantity  FROM
(SELECT * FROM
(SELECT * FROM invoice
WHERE billing_country='USA') t1
INNER JOIN
(SELECT * FROM invoice_line) t2
ON t1.invoice_id = t2.invoice_id) t3
INNER JOIN
(track) t4
ON t3.track_id = t4.track_id) t5
INNER JOIN
(genre) t6
ON t5.genre_id = t6.genre_id
GROUP BY name
ORDER BY Sales DESC
) q1
)

SELECT name,SALES,ROUND(SALES/(SELECT SUM(SALES) FROM tbl1),2) AS PERCENTAGE FROM tbl1
GROUP BY NAME
ORDER BY SALES DESC
;

 * sqlite:///chinook.db
Done.

[('Rock', 561.0, 0.53),
 ('Alternative & Punk', 130.0, 0.12),
 ('Metal', 124.0, 0.12),
 ('R&B/Soul', 53.0, 0.05),
 ('Blues', 36.0, 0.03),
 ('Alternative', 35.0, 0.03),
 ('Pop', 22.0, 0.02),
 ('Latin', 22.0, 0.02),
 ('Hip Hop/Rap', 20.0, 0.02),
 ('Jazz', 14.0, 0.01),
 ('Easy Listening', 13.0, 0.01),
 ('Reggae', 6.0, 0.01),
 ('Electronica/Dance', 5.0, 0.0),
 ('Classical', 4.0, 0.0),
 ('Heavy Metal', 3.0, 0.0),
 ('Soundtrack', 2.0, 0.0),
 ('TV Shows', 1.0, 0.0)]

In [64]:

#